:host {
  display: block;
}

.periodic-grid {
  display: grid;
  grid-template-columns: repeat(18, minmax(0, 1fr));
  grid-template-rows: repeat(7, auto);
  gap: 6px;
}

.fblock-grid {
  display: grid;
  grid-template-columns: repeat(15, minmax(0, 1fr));
  gap: 6px;
  max-width: calc(15 / 18 * 100%);
  margin-left: calc(3 / 18 * 100%);
}
